{% extends "admin.html" %}
{% from "components.html" import errors with context %}

{% block admin_content %}
    {{ errors() }}
    <form class="has-text-left" method="POST"
          action="{{ url_for("admin.edit_community", id=id) }}">
        {{ form.name.label(class_="label") }}
        <div class="field">
            <div class="control">
                {{ form.name }}
            </div>
        </div>
        <div class="field">
            {{ form.banned_users.label(class_="label") }}
            <div class="control">
                {{ form.banned_users(class_="checkbox") }}
            </div>
        </div>
        {{ form.submit }}
    </form>
{% endblock %}