{% extends "base.html" %}

{% block content %}
    <h1 class="title mb5">Conversations — {{ community.name }}</h1>
    <div class="content has-text-left mt-5">
        <div class="has-text-left mb-4">
            <a class="button is-link is-outlined"
               href="{{ url_for("community.create_conversation", community_id=community.id) }}">
                Start new
            </a>
        </div>
        <table class="table is-fullwidth">
            <tbody>
            {% for conversation in community.conversations %}
                <tr>
                    <td width="5%"><i class="fa fa-comments"></i></td>
                    <td align="left">{{ conversation.title }}
                        ({{ conversation.messages|length }} messages)
                    </td>
                    <td align="right">
                        <a class="button is-small is-link"
                           href="{{ url_for("community.conversation", id=conversation.id) }}">
                            View
                        </a>
                    </td>
                    {% if current_user.is_admin() %}
                        <td align="right">
                            <a class="button is-small is-danger"
                               href="{{ url_for("community.delete_conversation", id=conversation.id) }}">
                                Delete
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}